#wrapper{
	margin: 15px auto;
	border: solid red 2px;
	height: 600px;
	width: 600px;
	padding: 0;
}

.createdDiv{
display: inline-block;
float: left;
margin: 0;
}

#buttons{
position: absolute;
top: 10%;
left: 75%;
}

button{
width: 100px;
height: 30px;
border: gray;
border-radius: 3px;
background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%);
font-size: 17px;
display: block;
margin-top: 18px;
}

.start{
height: 48px;
}